body {
  background-color: rgb(178, 178, 178);
}

.one {
  border: none;
  background-color: rgb(66, 66, 66);
  color: white;
  padding: 20px 25px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 150px;
}

.two {
  border: none;
  background-color: orange;
  padding: 20px 29px;
  border-radius: 100px;
  font-size: 20px;
  cursor: pointer;
}

.three {
  border: none;
  background-color: orange;
  padding: 20px 25px;
  border-radius: 100px;
  font-size: 20px;
  cursor: pointer;
}

.four {
  border: none;
  background-color: rgb(66, 66, 66);
  color: white;
  padding: 20px 28px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 150px;
}

.js-calculation {
  color: rgb(93, 39, 39);
  font-family: Arial;
  font-weight: bolder;
  font-size: 40px;
}
